<%- include("parts/html-head") %>
<%- include("parts/navbars") %>

    <style>
        /* #item02 {
            overflow: auto;
        }

        body {
            display: inline;
        }
        div{
            font-family:'Noto Sans JP';
        } */





        /* body{
            background-color: #0B0B6F;
            background-image: url(/img/ai01.jpg)
        } */
        body{
            margin: 85px;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <!-- <div class="container">
        <div class="row">
            <div class="col text-center" id="item01">
                <img height="300px" src="img/shop01.jpg" /><br />
                BORNRICH<br>RICH CAT TEE <br> <strong>產品金額$NT1000</strong><br />
                <button class="btn btn-warning my-cart-btn" data-id="1" data-image="圖片.png" data-name="product 1"
                    data-price="10" data-quantity="1" data-summary="summary 1">加入購物車</button>
            </div>

            <div class="col text-center" id="item02">
                <img height="300px" src="img/shop02.jpg" /><br />
                BORNRICH<br>RICH CAT TEE <br> <strong>產品金額$NT1000</strong><br />
                <button class="btn btn-warning my-cart-btn" data-id="1" data-image="圖片.png" data-name="product 1"
                    data-price="10" data-quantity="1" data-summary="summary 1">加入購物車</button>
            </div>
        </div>

            <div class="row">
                <div class="col text-center">
                    <img height="300px" src="img/shop03.jpg" /><br />
                    BORNRICH<br>LOGO TEE <br> <strong>產品金額$NT1000</strong><br />
                    <button class="btn btn-warning my-cart-btn" data-id="1" data-image="圖片.png" data-name="product 1"
                        data-price="10" data-quantity="1" data-summary="summary 1">加入購物車</button>
                </div>

                <div class="col text-center">
                    <img height="300px" src="img/shop04.jpg" /><br />
                    BORNRICH<br>LOGO TEE <br> <strong>產品金額$NT1000</strong><br />
                    <button class="btn btn-warning my-cart-btn" data-id="1" data-image="圖片.png" data-name="product 1"
                        data-price="10" data-quantity="1" data-summary="summary 1">加入購物車</button>
                </div>
            </div>            
        </div> -->




		<div class="jumbotron">
				<h2>
					Hello, world!
				</h2>
				<p>
					This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="#">Learn more</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>
				Heading
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Heading
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="col-md-4">
			 <!-- <img width="450px" height="300px" alt="Bootstrap Image Preview" src ="/img/ai01.jpg" class="rounded"> -->
		</div>
	</div>
</div>








</body>





<%- include("parts/scripts") %>
<%- include("parts/html-foot") %>