<%- include("parts/html-head") %>
<%- include("parts/navbars") %>

<style>
    /* #item02 {
            overflow: auto;
        }

        body {
            display: inline;
        }
        div{
            font-family:'Noto Sans JP';
        } */


    body {
        margin: 85px;
        margin-top: 10px;
        /* background-color: #0B0B6F;
        background-image: url(/img/ai01.jpg) */
    }
</style>
</head>

<body>


<div class="jumbotron">
    <h2>
        Hello, world! 養生像極了愛情!
    </h2>
    <p>
        This is a template for a simple marketing or informational website. It includes a large callout called the
        hero unit and three supporting pieces of content. Use it as a starting point to create something more
        unique.
    </p>
    <p>
        <a class="btn btn-primary btn-large" href="#">Learn more</a>
    </p> 
</div>

<div class="row">
    <div class="col-md-4">
        <h2>
           <p class="text-warning">Food_Recognition</p>
        </h2>
        <p>
            追求健康是現代社會的風氣，飲食控制以及每日攝取的營養成分是極為重要的，因此以AI來辨識食物熱量是必要之因素。
        </p>
        <p>
            <a class="btn" href="#">View details »</a>
        </p>
    </div>

    <div class="col-md-4">
        <h2>
            <p class="text-warning">Openpose</p>
        </h2>
        <p>
            健康的體態是時下多數人追求的目標，讓此程式來協助您避免姿勢不良造成的運動傷害以及用正確的姿勢獲得更高的運動效果。
        </p>
        <p>
            <a class="btn" href="#">View details »</a>
        </p>
    </div>

    <div class="col-md-4">
        <h2>
            <p class="text-warning">Speech</p>
        </h2>
        <p>
            透過簡單的幾句話陳述當前身體的狀況，再分析可能的病因及建議給予參考。
        </p>
        <p>
            <a class="btn" href="#">View details »</a>
        </p>
    </div>

    <!-- <div class="col-md-4">
        <img width="450px" height="300px" alt="Bootstrap Image Preview" src ="/img/ai01.jpg" class="rounded">
    </div> -->
</div>





</body>





<%- include("parts/scripts") %>
<%- include("parts/html-foot") %>