<%- include("parts/html-head") %>
<%- include("parts/navbars") %>

<style>
    .border-left-primary {
        border-left: .25rem solid #4e73df;
    }
    .border-left-success {
        border-left: .25rem solid #1cc88a;
    }
    .border-left-info {
        border-left: .25rem solid #36b9cc;
    }


    body {
        margin: 85px;
        margin-top: 10px;
        /* background-color: #0B0B6F;
        background-image: url(/img/ai01.jpg) */
    }
</style>
</head>

<body>


<div class="jumbotron">
    <h2>
        Hello, world! 養生像極了愛情!
    </h2>
    <p>
        追求健康是現代社會的風氣。運動與飲食對身體健康更是密不可分，AI 技術可以如何幫我們追求健康呢？
    </p>
</div>


<div class="row">

    <div class="col-md-4 mb-3 border-left-primary">        <h2>
        <p class="text-primary"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-upc-scan" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
         <path fill-rule="evenodd" d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"/>
         <path d="M3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-7zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7z"/>
       </svg>   CalFoody</p>
     </h2></div>
    

    <div class="col-md-4 mb-3 border-left-success"><h2>
        <p class="text-success"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-camera-reels" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M0 8a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8zm11.5 5.175l3.5 1.556V7.269l-3.5 1.556v4.35zM2 7a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2z"/>
            <path fill-rule="evenodd" d="M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd" d="M9 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>   AI Coach</p>
    </h2></div>


    <div class="col-md-4 mb-3 border-left-info"><h2>
        <p class="text-info"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-right-dots" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2 1h12a1 1 0 0 1 1 1v11.586l-2-2A2 2 0 0 0 11.586 11H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
            <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
          </svg>   AI Doctor</p>
    </h2></div>

</div>







<div class="row">
    <div class="col-md-4">
        
        <p>
            飲食控制以及每日攝取的營養成分是極為重要的，因此以AI來辨識食物熱量是必要之因素。
        </p>
        <p>
            <a class="btn" href="#">View details »</a>
        </p>
    </div>

    <div class="col-md-4">
        
        <p>
            健康的體態是時下多數人追求的目標，讓此程式來協助您避免姿勢不良造成的運動傷害以及用正確的姿勢獲得更高的運動效果。
        </p>
        <p>
            <a class="btn" href="#">View details »</a>
        </p>
    </div>

    <div class="col-md-4">
        
        <p>
            透過簡單的幾句話陳述當前身體的狀況，再分析可能的病因及建議給予參考。
        </p>
        <p>
            <a class="btn" href="#">View details »</a>
        </p>
    </div>

    <!-- <div class="col-md-4">
        <img width="450px" height="300px" alt="Bootstrap Image Preview" src ="/img/ai01.jpg" class="rounded">
    </div> -->
</div>





</body>





<%- include("parts/scripts") %>
<%- include("parts/html-foot") %>