<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="info"></div>

    <script>
        info.innerHTML = 'Hello';
        alert('HI') //alert優先出來  因為dom是一秒更新60次
        console.log('ok')
    </script>

    <script>
        function doAjax() {
            const xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                console.log(xhr.status, xhr.readyState)
            }
            //xhr.open('GET', '/pending', true) 非同步
            xhr.open('GET', '/pending', false) //同步
            xhr.send();
        }
    </script>
</body>

</html>